#demo-content{
  background: url('imgs/beach.jpg') no-repeat center;
  background-size: auto 100%;
}

canvas{
  margin: auto;
  display: block;
  width: 80%;
  height: 100%;
}

.dg.main{
  position: absolute;
}